In [1]:
import ffn
import datetime

In [2]:
tickers = ['SPLG','SCHB','VTI','SCHG', 'KIE', 'IAU', 'IWF', 'DXJ', 'NANC', 'VUG', 'SCHX', 'VOO','SMH']

In [3]:
returns = ffn.get(tickers, start='2024-11-10').to_returns().dropna()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
returns.calc_mean_var_weights().as_format('.2%')

splg     0.00%
schb     0.00%
vti      0.00%
schg     0.00%
kie      0.00%
iau     30.13%
iwf     25.08%
dxj      0.00%
nanc     0.00%
vug     44.79%
schx     0.00%
voo      0.00%
dtype: object

# Recent Stock Performance

In [5]:
start_date = datetime.date.today() - datetime.timedelta(days=30)

In [6]:
start_date

datetime.date(2024, 11, 11)

In [7]:
prices = ffn.get(tickers, start=start_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [8]:
prices

,splg,schb,vti,schg,kie,iau,iwf,dxj,nanc,vug,schx,voo
Date,,,,,,,,,,,,
2024-11-11,70.419998,23.309999,297.540009,27.820000,59.270000,49.509998,398.480011,111.019997,39.759998,408.510010,23.719999,550.400024
2024-11-12,70.220001,23.209999,296.369995,27.790001,59.349998,49.080002,398.790009,109.809998,39.700001,408.799988,23.650000,548.750000
2024-11-13,70.250000,23.200001,296.230011,27.770000,59.230000,48.590000,398.369995,109.760002,39.669998,408.619995,23.660000,549.030029
2024-11-14,69.790001,23.040001,294.040009,27.540001,59.169998,48.459999,395.799988,110.650002,39.509998,406.130005,23.500000,545.539978
2024-11-15,68.889999,22.740000,290.309998,26.980000,59.400002,48.369999,387.549988,108.800003,38.750000,397.829987,23.200001,538.500000
2024-11-18,69.180000,22.840000,291.489990,27.100000,59.630001,49.290001,389.059998,109.709999,38.830002,399.640015,23.299999,540.729980
2024-11-19,69.440002,22.940001,292.829987,27.370001,59.290001,49.740002,393.399994,109.470001,39.169998,403.790009,23.400000,542.700012
2024-11-20,69.470001,22.959999,293.000000,27.400000,59.490002,50.029999,392.760010,109.300003,39.200001,403.470001,23.400000,542.900024
2024-11-21,69.830002,23.120001,295.049988,27.450001,60.360001,50.439999,393.720001,109.139999,39.540001,403.950012,23.540001,545.640015
2024-11-22,70.050003,23.230000,296.510010,27.490000,61.009998,51.080002,394.119995,110.449997,39.610001,404.029999,23.650000,547.469971
2024-11-25,70.290001,23.320000,297.959991,27.520000,61.549999,49.590000,394.309998,110.320000,39.689999,404.700012,23.740000,549.229980
2024-11-26,70.669998,23.420000,299.049988,27.740000,61.860001,49.689999,397.970001,109.180000,39.924999,408.079987,23.850000,552.309998
2024-11-27,70.440002,23.360001,298.200012,27.559999,62.029999,49.779999,395.339996,107.010002,39.639999,405.720001,23.780001,550.549988
2024-11-29,70.889999,23.490000,299.859985,27.790001,61.970001,50.250000,398.380005,108.769997,39.950001,409.130005,23.889999,553.450012
2024-12-02,71.010002,23.530001,300.429993,28.030001,61.500000,49.790001,401.839996,110.050003,40.070000,412.869995,23.959999,555.010010
2024-12-03,71.040001,23.520000,300.429993,28.160000,61.169998,49.889999,404.200012,111.489998,40.150002,414.880005,23.969999,555.140015
2024-12-04,71.489998,23.700001,302.450012,28.600000,60.959999,50.040001,409.940002,111.239998,40.730000,421.059998,24.150000,558.640015
2024-12-05,71.370003,23.629999,301.609985,28.500000,60.830002,49.669998,409.690002,111.139999,40.630001,420.410004,24.080000,557.710022
2024-12-06,71.519997,23.690001,302.450012,28.709999,60.349998,49.680000,412.779999,110.930000,40.630001,423.260010,24.150000,558.820007
2024-12-09,71.129997,23.549999,300.519989,28.510000,59.270000,50.169998,410.089996,111.019997,40.240002,420.399994,24.000000,555.909973
2024-12-10,70.900002,23.450001,299.390015,28.430000,58.099998,50.830002,408.980011,111.099998,40.080002,419.940002,23.910000,554.330017
2024-12-11,71.459999,23.549999,301.799988,28.879999,58.340000,51.299999,415.839996,112.839996,40.540001,426.910004,24.030001,558.530029

In [9]:
final = prices.pct_change().dropna().iloc[-1:].T.reset_index()

In [10]:
final.columns = ['ticker', 'pct']

In [11]:
final_sorted = final.sort_values(by = 'pct', ascending=False)

In [12]:
final_sorted['pct'] = final['pct'].apply(lambda x: f"{x:.2%}")

In [13]:
final_sorted

   ticker    pct
6     iwf  1.68%
9     vug  1.66%
3    schg  1.58%
7     dxj  1.57%
8    nanc  1.15%
5     iau  0.92%
2     vti  0.80%
0    splg  0.79%
11    voo  0.76%
10   schx  0.50%
1    schb  0.43%
4     kie  0.41%

In [14]:
print(final_sorted['pct'].dtype)

object

In [15]:
best = final.nlargest(5, 'pct')

In [16]:
best = best.sort_values(by = 'pct', ascending=False)

In [17]:
best['pct'] = best['pct'].apply(lambda x: f"{x:.2%}")

In [18]:
best

  ticker    pct
6    iwf  1.68%
9    vug  1.66%
3   schg  1.58%
7    dxj  1.57%
8   nanc  1.15%

In [19]:
worst = final.nsmallest(5, 'pct')

In [20]:
worst = worst.sort_values(by = 'pct', ascending=True)

In [21]:
worst['pct'] = worst['pct'].apply(lambda x: f"{x:.2%}")

In [22]:
worst

   ticker    pct
4     kie  0.41%
1    schb  0.43%
10   schx  0.50%
11    voo  0.76%
0    splg  0.79%

## Cumulative Returns Analysis

This calculation is helpful for analyzing the overall performance of different assets within a portfolio and can also assist in comparing individual assets to an index like the S&P 500.

In [23]:
cumulative_returns = prices.calc_total_return()

In [24]:
cumulative_returns = cumulative_returns.sort_values(ascending=False)

In [25]:
cumulative_returns = cumulative_returns.apply(lambda x: f"{x:.2%}")

In [26]:
print(cumulative_returns)

vug      4.50%
iwf      4.36%
schg     3.81%
iau      3.62%
nanc     1.96%
dxj      1.64%
voo      1.48%
splg     1.48%
vti      1.43%
schx     1.31%
schb     1.03%
kie     -1.57%
dtype: object

In [27]:
print(cumulative_returns.dtype)

object

## Sharpe Ratio Calculation

The Sharpe Ratio is a popular metric that allows investors to assess the risk-adjusted return of an investment. A higher Sharpe Ratio indicates that the asset is providing a higher return for a given level of risk. The ffn library allows you to calculate the Sharpe Ratio easily

In [28]:
sharpe_ratios = prices.calc_stats()

In [29]:
sharpe_ratios.display()

Stat                 splg        schb        vti         schg        kie         iau         iwf         dxj         nanc        vug         schx        voo
-------------------  ----------  ----------  ----------  ----------  ----------  ----------  ----------  ----------  ----------  ----------  ----------  ----------
Start                2024-11-11  2024-11-11  2024-11-11  2024-11-11  2024-11-11  2024-11-11  2024-11-11  2024-11-11  2024-11-11  2024-11-11  2024-11-11  2024-11-11
End                  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11
Risk-free rate       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%

Total Return         1.48%       1.03%       1.43%       3.81%       -1.57%      3.62%       4.36%       1.64%       1.96%       4.50%       1.31%       1.48%
Daily Sharpe         2.21        1.50        2.02        3.41        -1.36       2.60        3.88        1.30        2.00        4.10        1.95        2.26
Daily Sortino        3.49        2.37        3.27        5.92        -2.00       4.03        6.76        2.22        3.22        7.13        3.04        3.52
CAGR                 19.54%      13.28%      18.90%      57.66%      -17.51%     54.10%      68.07%      21.89%      26.69%      70.98%      17.13%      19.54%
Max Drawdown         -2.17%      -2.45%      -2.43%      -3.02%      -6.34%      -2.92%      -2.82%      -3.61%      -2.54%      -2.68%      -2.19%      -2.16%
Calmar Ratio         8.99        5.43        7.78        19.10       -2.76       18.55       24.15       6.06        10.50       26.45       7.81        9.04

MTD                  0.80%       0.26%       0.65%       3.92%       -5.86%      2.09%       4.38%       3.74%       1.48%       4.35%       0.59%       0.92%
3m                   -           -           -           -           -           -           -           -           -           -           -           -
6m                   -           -           -           -           -           -           -           -           -           -           -           -
YTD                  1.48%       1.03%       1.43%       3.81%       -1.57%      3.62%       4.36%       1.64%       1.96%       4.50%       1.31%       1.48%
1Y                   -           -           -           -           -           -           -           -           -           -           -           -
3Y (ann.)            -           -           -           -           -           -           -           -           -           -           -           -
5Y (ann.)            -           -           -           -           -           -           -           -           -           -           -           -
10Y (ann.)           -           -           -           -           -           -           -           -           -           -           -           -
Since Incep. (ann.)  19.54%      13.28%      18.90%      57.66%      -17.51%     54.10%      68.07%      21.89%      26.69%      70.98%      17.13%      19.54%

Daily Sharpe         2.21        1.50        2.02        3.41        -1.36       2.60        3.88        1.30        2.00        4.10        1.95        2.26
Daily Sortino        3.49        2.37        3.27        5.92        -2.00       4.03        6.76        2.22        3.22        7.13        3.04        3.52
Daily Mean (ann.)    17.91%      12.63%      17.42%      45.77%      -18.13%     44.03%      52.08%      20.73%      24.01%      53.74%      15.90%      17.90%
Daily Vol (ann.)     8.10%       8.40%       8.64%       13.43%      13.30%      16.96%      13.41%      15.92%      12.03%      13.12%      8.17%       7.93%
Daily Skew           -0.95       -0.86       -0.78       -0.59       -0.59       -1.11       -0.68       -0.27       -0.66       -0.66       -0.99       -1.04
Daily Kurt           0.98        0.44        0.14        1.10        0.71        2.20        1.47        -0.31       1.40        1.63        0.63        1.21
Best Day             0.79%       0.77%       0.80%       1.58%       1.46%       1.90%       1.68%       1.64%       1.44%       1.66%       0.75%       0.76%
Worst Day            -1.29%      -1.30%      -1.27%      -2.03%      -1.97%      -2.92%      -2.08%      -1.99%      -1.92%      -2.04%      -1.28%      -1.29%

Monthly Sharpe       -           -           -           -           -           -           -           -           -           -           -           -
Monthly Sortino      -           -           -           -           -           -           -           -           -           -           -           -
Monthly Mean (ann.)  9.65%       3.07%       7.76%       47.07%      -70.29%     25.07%      52.59%      44.90%      17.72%      52.15%      7.03%       11.01%
Monthly Vol (ann.)   -           -           -           -           -           -           -           -           -           -           -           -
Monthly Skew         -           -           -           -           -           -           -           -           -           -           -           -
Monthly Kurt         -           -           -           -           -           -           -           -           -           -           -           -
Best Month           0.80%       0.26%       0.65%       3.92%       -5.86%      2.09%       4.38%       3.74%       1.48%       4.35%       0.59%       0.92%
Worst Month          0.80%       0.26%       0.65%       3.92%       -5.86%      2.09%       4.38%       3.74%       1.48%       4.35%       0.59%       0.92%

Yearly Sharpe        -           -           -           -           -           -           -           -           -           -           -           -
Yearly Sortino       -           -           -           -           -           -           -           -           -           -           -           -
Yearly Mean          -           -           -           -           -           -           -           -           -           -           -           -
Yearly Vol           -           -           -           -           -           -           -           -           -           -           -           -
Yearly Skew          -           -           -           -           -           -           -           -           -           -           -           -
Yearly Kurt          -           -           -           -           -           -           -           -           -           -           -           -
Best Year            -           -           -           -           -           -           -           -           -           -           -           -
Worst Year           -           -           -           -           -           -           -           -           -           -           -           -

Avg. Drawdown        -0.88%      -0.95%      -1.00%      -1.45%      -2.40%      -2.61%      -1.27%      -2.06%      -1.62%      -1.21%      -0.94%      -0.86%
Avg. Drawdown Days   4.75        5.50        4.50        7.67        5.33        11.50       7.33        14.00       7.33        6.33        4.50        4.75
Avg. Up Month        0.80%       0.26%       0.65%       3.92%       -           2.09%       4.38%       3.74%       1.48%       4.35%       0.59%       0.92%
Avg. Down Month      -           -           -           -           -5.86%      -           -           -           -           -           -           -
Win Year %           -           -           -           -           -           -           -           -           -           -           -           -
Win 12m %            -           -           -           -           -           -           -           -           -           -           -           -

## Rolling Volatility

In [30]:
rolling_vol = prices.rolling(3).std()

In [31]:
print(rolling_vol.tail())

                splg      schb       vti      schg       kie       iau  \
Date
2024-12-05  0.233023  0.090738  1.014767  0.230651  0.171560  0.186102
2024-12-06  0.079369  0.037860  0.484990  0.105039  0.321300  0.210793
2024-12-09  0.196723  0.070238  0.967706  0.118462  0.799000  0.285832
2024-12-10  0.313420  0.120554  1.547332  0.144221  1.125300  0.577091
2024-12-11  0.281483  0.057734  1.205765  0.240069  0.617981  0.567657

                 iwf       dxj      nanc       vug      schx       voo
Date
2024-12-05  3.244225  0.180277  0.310053  3.395970  0.090738  1.812909
2024-12-06  1.716399  0.158218  0.057734  1.493602  0.040414  0.595728
2024-12-09  1.680485  0.105356  0.225166  1.648349  0.075055  1.468590
2024-12-10  1.953974  0.085048  0.282901  1.798783  0.121243  2.277593
2024-12-11  3.682254  1.028461  0.233523  3.898135  0.062450  2.121362

## Portfolio Optimization

This method of portfolio optimization leverages historical data to create an allocation that minimizes risk while targeting a desired return.

In [32]:
expected_returns = prices.calc_stats().stats.loc['cagr']

In [33]:
expected_returns

splg    0.195414
schb    0.132823
vti     0.188958
schg    0.576604
kie    -0.175148
iau     0.540965
iwf     0.680651
dxj     0.218928
nanc     0.26685
vug     0.709826
schx    0.171268
voo      0.19545
Name: cagr, dtype: object

In [34]:
tickers_filtered = expected_returns[expected_returns > 0].index.tolist()

In [35]:
tickers_filtered

['splg',
 'schb',
 'vti',
 'schg',
 'iau',
 'iwf',
 'dxj',
 'nanc',
 'vug',
 'schx',
 'voo']

In [36]:
portfolio = prices.calc_stats()

In [37]:
print(dir(portfolio))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_calculate', '_end', '_get_default_plot_title', '_get_series', '_names', '_prices', '_start', '_stats', '_update', '_update_stats', 'clear', 'copy', 'display', 'display_lookback_returns', 'fromkeys', 'get', 'items', 'keys', 'lookback_returns', 'plot', 'plot_correlation', 'plot_histograms', 'plot_scatter_matrix', 'pop', 'popitem', 'prices', 'set_date_range', 'set_riskfree_rate', 'setdefault', 'stats', 'to_csv', 'update', 'values']

In [144]:
weights = portfolio.calc_sharpe_weights().as_format('.2%')

AttributeError: 'DataFrame' object has no attribute 'calc_sharpe_weights'

In [124]:
print(weights)

splg     0.69%
schb     0.00%
vti      0.00%
schg     0.00%
kie     33.13%
iau     14.74%
iwf      0.00%
dxj     41.70%
nanc     0.00%
vug      0.00%
schx     0.00%
voo      9.75%
dtype: object

## Max Drawdown Analysis

The maximum drawdown is an important metric to evaluate the worst peak-to-trough decline during a specific period. It provides insight into how much value an investor could lose most during a downturn:

In [127]:
max_drawdown = prices.calc_max_drawdown().sort_values(ascending=False)

In [128]:
max_drawdown = max_drawdown.as_format('.2%')

In [129]:
print(max_drawdown)

voo     -2.16%
splg    -2.17%
schx    -2.19%
vti     -2.43%
schb    -2.45%
nanc    -2.54%
vug     -2.68%
iwf     -2.82%
iau     -2.92%
schg    -3.02%
dxj     -3.61%
kie     -6.39%
dtype: object

Consultas: https://chatgpt.com/c/675989fe-f91c-800b-a51c-36da7260404f