In [1]:
import ffn
import datetime

In [2]:
tickers = ['AAPL','MSFT','NVDA','GOOGL','TSLA','MSTR','PLTR','IAU','SPLG','AMZN', 'META', 'SCHG']

In [3]:
returns = ffn.get(tickers, start='2024-11-12').to_returns().dropna()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
returns.calc_mean_var_weights().as_format('.2%')

aapl     40.88%
msft     15.76%
nvda      0.00%
googl     0.07%
tsla      6.95%
mstr      3.50%
pltr     11.57%
iau       7.95%
splg      0.00%
amzn      9.83%
meta      3.48%
schg      0.00%
dtype: object

# Recent Stock Performance

In [7]:
start_date = datetime.date.today() - datetime.timedelta(days=5)

In [8]:
start_date

datetime.date(2024, 12, 6)

In [9]:
prices = ffn.get(tickers, start=start_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [10]:
final = prices.pct_change().dropna().iloc[-1:].T.reset_index()

In [11]:
final.columns = ['ticker', 'pct']

In [12]:
final

   ticker       pct
0    aapl  0.007459
1    msft  0.005199
2    nvda  0.020020
3   googl  0.034779
4    tsla  0.012247
5    mstr  0.051524
6    pltr -0.011511
7     iau  0.003344
8    splg  0.006049
9    amzn  0.017568
10   meta  0.019699
11   schg  0.008266

In [13]:
best = final.nlargest(5, 'pct')

In [14]:
best

   ticker       pct
5    mstr  0.051524
3   googl  0.034779
2    nvda  0.020020
10   meta  0.019699
9    amzn  0.017568

In [15]:
worst = final.nsmallest(5, 'pct')

In [16]:
worst

  ticker       pct
6   pltr -0.011511
7    iau  0.003344
1   msft  0.005199
8   splg  0.006049
0   aapl  0.007459

## Cumulative Returns Analysis

This calculation is helpful for analyzing the overall performance of different assets within a portfolio and can also assist in comparing individual assets to an index like the S&P 500.

In [17]:
cumulative_returns = prices.calc_total_return()

In [18]:
print(cumulative_returns)

aapl     0.027912
msft     0.004655
nvda    -0.032757
googl    0.097989
tsla     0.042857
mstr     0.004433
pltr    -0.082080
iau      0.026570
splg    -0.002672
amzn     0.008649
meta     0.012424
schg    -0.001567
dtype: float64

## Sharpe Ratio Calculation

The Sharpe Ratio is a popular metric that allows investors to assess the risk-adjusted return of an investment. A higher Sharpe Ratio indicates that the asset is providing a higher return for a given level of risk. The ffn library allows you to calculate the Sharpe Ratio easily

In [19]:
sharpe_ratios = prices.calc_stats()

In [23]:
sharpe_ratios.display()

Stat                 aapl        msft        nvda        googl       tsla        mstr        pltr        iau         splg        amzn        meta        schg
-------------------  ----------  ----------  ----------  ----------  ----------  ----------  ----------  ----------  ----------  ----------  ----------  ----------
Start                2024-12-06  2024-12-06  2024-12-06  2024-12-06  2024-12-06  2024-12-06  2024-12-06  2024-12-06  2024-12-06  2024-12-06  2024-12-06  2024-12-06
End                  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11  2024-12-11
Risk-free rate       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%

Total Return         2.79%       0.47%       -3.28%      9.80%       4.29%       0.44%       -8.21%      2.66%       -0.27%      0.86%       1.24%       -0.16%
Daily Sharpe         23.72       3.77        -6.42       19.76       16.35       0.71        -21.78      27.94       -2.29       3.67        3.62        -1.01
Daily Sortino        inf         7.13        -11.32      inf         inf         1.12        -21.78      inf         -5.09       18.24       7.13        -2.27
CAGR                 647.09%     40.39%      -91.22%     92299.89%   2044.46%    38.14%      -99.81%     579.10%     -17.75%     87.59%      146.46%     -10.83%
Max Drawdown         0.00%       -0.60%      -5.17%      0.00%       0.00%       -7.51%      -8.21%      0.00%       -0.87%      -0.88%      -1.64%      -0.98%
Calmar Ratio         inf         66.98       -17.63      inf         inf         5.08        -12.16      inf         -20.48      99.92       89.56       -11.10

MTD                  2.79%       0.47%       -3.28%      9.80%       4.29%       0.44%       -8.21%      2.66%       -0.27%      0.86%       1.24%       -0.16%
3m                   -           -           -           -           -           -           -           -           -           -           -           -
6m                   -           -           -           -           -           -           -           -           -           -           -           -
YTD                  2.79%       0.47%       -3.28%      9.80%       4.29%       0.44%       -8.21%      2.66%       -0.27%      0.86%       1.24%       -0.16%
1Y                   -           -           -           -           -           -           -           -           -           -           -           -
3Y (ann.)            -           -           -           -           -           -           -           -           -           -           -           -
5Y (ann.)            -           -           -           -           -           -           -           -           -           -           -           -
10Y (ann.)           -           -           -           -           -           -           -           -           -           -           -           -
Since Incep. (ann.)  647.09%     40.39%      -91.22%     92299.89%   2044.46%    38.14%      -99.81%     579.10%     -17.75%     87.59%      146.46%     -10.83%

Daily Sharpe         23.72       3.77        -6.42       19.76       16.35       0.71        -21.78      27.94       -2.29       3.67        3.62        -1.01
Daily Sortino        inf         7.13        -11.32      inf         inf         1.12        -21.78      inf         -5.09       18.24       7.13        -2.27
Daily Mean (ann.)    232.63%     39.41%      -272.23%    802.95%     356.53%     77.31%      -705.63%    221.45%     -22.15%     73.78%      106.83%     -12.65%
Daily Vol (ann.)     9.81%       10.44%      42.39%      40.64%      21.80%      108.50%     32.40%      7.93%       9.69%       20.13%      29.47%      12.50%
Daily Skew           1.18        -1.73       1.73        -0.51       0.61        -1.59       -1.26       -0.92       1.48        1.73        -1.15       1.20
Daily Kurt           -           -           -           -           -           -           -           -           -           -           -           -
Best Day             1.61%       0.55%       2.00%       5.59%       2.87%       5.15%       -1.15%      1.32%       0.60%       1.76%       1.97%       0.83%
Worst Day            0.41%       -0.60%      -2.69%      0.49%       0.15%       -7.51%      -5.08%      0.33%       -0.55%      -0.46%      -1.64%      -0.70%

Monthly Sharpe       -           -           -           -           -           -           -           -           -           -           -           -
Monthly Sortino      -           -           -           -           -           -           -           -           -           -           -           -
Monthly Mean (ann.)  -           -           -           -           -           -           -           -           -           -           -           -
Monthly Vol (ann.)   -           -           -           -           -           -           -           -           -           -           -           -
Monthly Skew         -           -           -           -           -           -           -           -           -           -           -           -
Monthly Kurt         -           -           -           -           -           -           -           -           -           -           -           -
Best Month           -           -           -           -           -           -           -           -           -           -           -           -
Worst Month          -           -           -           -           -           -           -           -           -           -           -           -

Yearly Sharpe        -           -           -           -           -           -           -           -           -           -           -           -
Yearly Sortino       -           -           -           -           -           -           -           -           -           -           -           -
Yearly Mean          -           -           -           -           -           -           -           -           -           -           -           -
Yearly Vol           -           -           -           -           -           -           -           -           -           -           -           -
Yearly Skew          -           -           -           -           -           -           -           -           -           -           -           -
Yearly Kurt          -           -           -           -           -           -           -           -           -           -           -           -
Best Year            -           -           -           -           -           -           -           -           -           -           -           -
Worst Year           -           -           -           -           -           -           -           -           -           -           -           -

Avg. Drawdown        -           -0.60%      -5.17%      -           -           -7.51%      -8.21%      -           -0.87%      -0.88%      -1.64%      -0.98%
Avg. Drawdown Days   -           1.00        2.00        -           -           2.00        2.00        -           2.00        2.00        2.00        2.00
Avg. Up Month        -           -           -           -           -           -           -           -           -           -           -           -
Avg. Down Month      -           -           -           -           -           -           -           -           -           -           -           -
Win Year %           -           -           -           -           -           -           -           -           -           -           -           -
Win 12m %            -           -           -           -           -           -           -           -           -           -           -           -

## Rolling Volatility

In [24]:
rolling_vol = prices.rolling(3).std()

In [25]:
print(rolling_vol.tail())

                aapl      msft      nvda     googl      tsla       mstr  \
Date
2024-12-06       NaN       NaN       NaN       NaN       NaN        NaN
2024-12-09       NaN       NaN       NaN       NaN       NaN        NaN
2024-12-10  2.602355  1.488631  3.685134  5.921922  6.636981  14.926300
2024-12-11  1.453839  1.454731  1.931006  8.177729  8.257448  15.857508

                pltr       iau      splg      amzn      meta      schg
Date
2024-12-06       NaN       NaN       NaN       NaN       NaN       NaN
2024-12-09       NaN       NaN       NaN       NaN       NaN       NaN
2024-12-10  2.805404  0.577091  0.313420  0.995509  5.113794  0.144221
2024-12-11  1.212694  0.438446  0.214639  2.047887  9.166113  0.119478

## Portfolio Optimization

This method of portfolio optimization leverages historical data to create an allocation that minimizes risk while targeting a desired return.

In [26]:
portfolio = prices.calc_stats().prices

In [27]:
portfolio

,aapl,msft,nvda,googl,tsla,mstr,pltr,iau,splg,amzn,meta,schg
Date,,,,,,,,,,,,
2024-12-06,242.839996,443.570007,142.440002,174.510010,389.220001,395.010010,76.339996,49.680000,71.519997,227.029999,623.770020,28.709999
2024-12-09,246.750000,446.019989,138.809998,175.369995,389.790009,365.339996,72.459999,50.169998,71.129997,226.089996,613.570007,28.510000
2024-12-10,247.770004,443.329987,135.070007,185.169998,400.989990,377.320007,70.889999,50.830002,70.900002,225.039993,619.320007,28.430000
2024-12-11,249.618103,445.635010,137.774094,191.610001,405.900787,396.761108,70.073997,51.000000,71.328903,228.993500,631.520020,28.665001

In [28]:
weights = portfolio.calc_mean_var_weights().as_format('.2%')

In [29]:
print(weights)

aapl     13.22%
msft     34.39%
nvda      9.11%
googl     0.00%
tsla      3.53%
mstr      0.00%
pltr     12.12%
iau       2.86%
splg      5.24%
amzn      8.47%
meta      9.17%
schg      1.89%
dtype: object

## Max Drawdown Analysis

The maximum drawdown is an important metric to evaluate the worst peak-to-trough decline during a specific period. It provides insight into how much value an investor could lose most during a downturn:

In [30]:
max_drawdown = prices.calc_max_drawdown().as_format('.2%')

In [31]:
print(max_drawdown)

aapl      0.00%
msft     -0.60%
nvda     -5.17%
googl     0.00%
tsla      0.00%
mstr     -7.51%
pltr     -8.21%
iau       0.00%
splg     -0.87%
amzn     -0.88%
meta     -1.64%
schg     -0.98%
dtype: object

Consultas: https://chatgpt.com/c/675989fe-f91c-800b-a51c-36da7260404f